body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
canvas{
    box-shadow: black 20px 10px 50px;
}

#mainMenu {
    position: center;
    margin: auto;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-top: 300px solid transparent;
    top: 20px;
    left: 2px;
    width: 0px;
    height: 0px;
}

#newGame, #creditButton, #controlButton, #leaderButton {
    color: rgb(15, 15, 15);
    position: relative;
    
    text-align: center;
    font-size: 45px;
    font-family: shadows into light;
    bottom: 300px;
    right: 300px;
    height: 50px;
    width: 600px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
}

#buttonReturn{
    color: orange;
    position: relative;
    background: darkred;
    text-align: center;
    font-size: 45px;
    position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

#resumeButton{
    color: orange;
    position: relative;
    background: darkred;
    text-align: center;
    font-size: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

#leaderB, #credits, #controls{
    display: none;
    color: orange;
    position: relative;
    background: whitesmoke;
    text-align: center;
    font-size: 45px;
    font-family: shadows into light;
    bottom: 200px;
    right: 600px;
    height: 50px;
    width: 1200px;
}

#buttonReturn, #resumeButton {
    display: none;
}

/*When the user hovers over an option with their cursor */
#newGame:hover {
   
    color: white;
}

#creditButton:hover {
   
    color: white;
}

#controlButton:hover {
    background: darkorange;
    color: white;
}

#leaderButton:hover {
    background: darkorange;
    color: white;
}

#buttonReturn:hover {
    background: darkorange;
    color: white;
}

#resumeButton:hover {
    background: darkorange;
    color: white;
}






